* {
    margin: 0;
    padding: 0;
}


.banner-design {
    background-image: url("images/donation4.jpg");
    background-repeat: no-repeat;
    padding: 20em;
    background-size: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}



#button {
    background-color: #FF5959;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 350px;

}

.banner-content,
h1,
p {

    padding: 10px;
}

.middle-content {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.donation-amount {
    display: flex;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 30px;

}

.donation-amount-design {
    background-color: #FAFAFA;
    padding: 2em;
    margin-right: 15px;
}

.donation-amount-design-default {

    background-color: #FFEEEE;
    color: #FF5959;
    padding: 2em;
    margin-right: 15px;
    border: 1px solid #FF5959;
}

.donation-other-amount {
    text-align: center;
}

.set-opacity {
    opacity: 0.5;
}

#button-donate {
    background-color: #FF5959;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 46%;
    margin-top: 20px;
    margin-bottom: 2em;

}

hr {
    margin-left: 20%;
    margin-right: 20%;
}

.content {
    text-align: center;
    margin-bottom: 2em;

}

.donation-boxes {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2em;
}

.donation-box-design1 {
    background-color: #c3f1f7;
    padding: 1em;
    margin-right: 15px;
}

.donation-box-design2 {
    background-color: #d2c3c3;
    padding: 1em;
    margin-right: 15px;
}

.donation-box-design3 {
    background-color: rgb(232, 232, 200);
    padding: 1em;
}

.bottom-part {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    padding: 4em 8em;
    background-color: #FFF4D6;
    justify-content: center;
}

.bottom-input {
    box-sizing: border-box;


}

.bottom-input {
    background-color: #D9D9D9;
    border-radius: 5px;
}

input {
    border-style: hidden;
    background-color: #D9D9D9;

}

.bottom-button {
    background-color: #FF5959;
    border-radius: 5px;
}